@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/SofiaProRegular.woff2') format('woff2'),
        url('./fonts/SofiaProRegular.woff') format('woff');
}