{% extends 'layouts/master.twig' %}

{# 
    Use the bodyClass block to add an additional class to <body> for this template 
#}
{% block bodyClass 'additional-class' %}

{% block content %}

<header class="header">
    <img class="logo" src="uploads/logo.svg">
    <img class="logo logo--right" src="uploads/logo.svg">
    <div class="container">
        <ul class="main-nav">
            <li class="nav-item">
                <a class="js-anchor" href='over-ons'>Over ons</a>
            </li>
            <li class="nav-item">
                <a href='https://bjootify.com/salon/ea035ed6-51ae-4cec-8215-7306730ec7e4'>Afspraak maken</a>
            </li>
            <li class="nav-item nav-item--alt">
                <a class="js-anchor" href='prijslijst'>Prijslijst</a>
            </li>
            <li class="nav-item">
                <a class="js-anchor" href='contact'>Contact</a>
            </li>
        </ul>
    </div>
</header>
<div class="cover js-scroll-section">
    <div class="page cover-content">
        <img class="cover-logo" src="css/images/logo.svg">
        <div class="container-small" style="text-shadow: 2px 1px 4px #000; max-width: 43em;">
            <p></p>
            <p>HEY&nbsp;en welkom bij de leukste en gezelligste kapsalon van Lisse! Neem gerust een kijkje op de website. Je kunt hier gemakkelijk een afspraak maken door op de onderstaande knop te drukken of door naar de onderkant van de pagina te navigeren.</p>
            <p></p>


        </div><a style="display: table; margin: 15px auto 0; " class="fancybox" data-fancybox-type="iframe" href="https://bjootify.com/salon/ea035ed6-51ae-4cec-8215-7306730ec7e4"><span class="btn btn-primary" style="background-color: rgba(0, 0, 0, 0.35);">Afspraak maken</span></a>
           
    </div>
</div>



<div class="block-alt" style="background: #bfa08c">
    <div class="flex-height js-scroll-section">
        <div class="block-inner__left block--image" style="background-image: url(uploads/bathroom.jpg); background-position-x: 25%;"></div>
        <div class="block-inner__right page section block--content" id="over-ons">
            <div class="content-alt">
                <div class="content-alt__inner">
                    <h1><span style="color:#ffffff">Hair Expert Yvonne</span></h1>
                    <p><span style="color:#ffffff">Maart 2016 opende Yvonne Struive de deuren van haar kapsalon op de Koninginneweg 85. Het ondernemerschap en een eigen salon was niet geheel nieuw voor Yvonne. Ruim 17 jaar geleden runde Yvonne een kapsalon met 16 man personeel in Lisse.</span></p>
                    <p><span style="color:#ffffff">Op een gegeven moment kwamen er nieuwe uitdagingen op haar pad en daarom besloot ze haar zaak te verkopen. Yvonne kreeg een carri&egrave;re in de educatiewereld van de kappersbranche. Dit avontuur startte in Amsterdam op de Kapperacademy waar ze les gaf. In deze functie kwam Yvonne erachter dat ze energie kreeg om kennis en kunde te kunnen delen met andere vakgenoten. Al snel werd dit opgepakt door een kappersketen. Voor deze keten ging Yvonne de begeleiding en creatieve kant verzorgen. Vervolgens kwam de volgende uitdaging op haar pad: een eigen kleurmerk op de markt zetten voor een kappersgroothandel die door heel Nederland was gevestigd. In rap tempo had Yvonne een heel team van educatie deskundigen om haar heen verzameld die trainingen gaf aan andere ge&iuml;nteresseerde kappers. De next step was dat ze dit ook wereldwijd voor andere merken in de branche heeft mogen verzorgen.</span></p>
                    
                        
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-alt">
    <div class="flex-height js-scroll-section">
        <div class="block-inner__left page section block--content">
            <div class="content-alt">
                <div class="content-alt__inner">
                    <h2>Een nieuwe uitdaging</h2>
                    <p>December 2015 kreeg Yvonne de tip dat er een klein lief pandje aan de Koninginneweg vrij kwam. Zoals in haar hele loopbaan zag ze een nieuwe uitdaging. De opgedane kennis en kunde in een creatief concept en het voordeel van een baan dichterbij huis, bracht haar terug bij haar oude liefde; een salon. In maart 2016 werd HEY creative (Hair Expert Yvonne) een feit.</p>
                </div>
            </div>
        </div>
        <div class="block-inner__right block--image block--image-fade block--image-fade-alt" style="background-image: url(uploads/foto-zaak-10.jpg); background-position-x: 0;     background-position-y: 0;"></div>
    </div>
</div>
<div class=" block-alt">
    <div class="flex-height js-scroll-section">
        <div class="block-inner__left block--image block--image-fade" style="    background-position-x: 50%; background-image: url(uploads/fotostoelen.jpg)"></div>
        <div class="block-inner__right page section block--content">
            <div class="content-alt">
                <div class="content-alt__inner">
                    <p>Met de jarenlange ervaring weet Yvonne wat ze haar klanten kan bieden en met welke kwalitatief hoogwaardige producten ze het beste werkt. De producten heeft ze dan ook met zorg uitgezocht. Het team van HEY werkt met de producten van Kevin Murphy en Living Proof. Beide merken zijn milieuvriendelijke, dierproefvrije en duurzame producten.</p>
                    <p>Ons team bestaat uit Tessa, Jinte, Lisa en Yvonne.
Wat wij voor ogen hebben vanaf het moment dat je bij ons binnen komt, is er voor te zorgen dat je weer met mooi haar naar buiten wandelt.
Want je wilt je graag op je mooist voelen.
In de salon beschikken wij over speciale ligfauteuils om het wassen zo aangenaam mogelijk te maken.
Je kunt zelfs kiezen voor een massage fauteuil, daarbij zullen wij een ontspannende hoofdmassage verzorgen.
We zullen hierbij gebruik maken van ons Eco Friendly haarverzorgingsmerk van Kevin Murphy.
Geef jezelf of iemand anders zo’n verwenmoment cadeau.
</p><p>Daarnaast bieden wij een breed aantal services aan van het knippen van dames en heren en specialisme in haarkleuring en krullend haar.
Benieuwd welke Look het beste bij jou past?
Kom gerust eens langs, het team van Heycreative adviseert u graag!
Of maak een afspraak op www.heycreative.nl
</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="outter">
    <div class="section page flex-height flex-alt js-scroll-section block">
        <div class="block-inner" style="width: 100%;">
            <div class="section testimonials group">
                <div class="testimonial-wrapper">
                    <div class="testimonial">
                        <div class="square">
                            <div class="ratio-inner">
                                <div class="testimonial-image" style="background-image: url('uploads/pers-yvonne-kleur.jpg');"></div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-info">
                        <h3 class="testimonial-title">Yvonne</h3>
                        <p></p>
                    </div>
                </div>
     
              
                 <div class="testimonial-wrapper">
                    <div class="testimonial">
                        <div class="square">
                            <div class="ratio-inner">
                                <div class="testimonial-image" style="background-image: url('uploads/pers-tessa-kleur.jpg'); background-position: center 14%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-info">
                        <h3 class="testimonial-title">Tessa</h3>
                        <p></p>
                    </div>
                </div>
                <div class="testimonial-wrapper">
                    <div class="testimonial">
                        <div class="square">
                            <div class="ratio-inner">
                                <div class="testimonial-image" style="background-image: url('uploads/pers-jinte-kleur.jpg');"></div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-info">
                        <h3 class="testimonial-title">Jinte</h3>
                        <p></p>
                    </div>
                </div>
                <div class="testimonial-wrapper">
                    <div class="testimonial">
                        <div class="square">
                            <div class="ratio-inner">
                                <div class="testimonial-image" style="background-image: url('uploads/lisa.jpeg'); background-position-y: 10%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-info">
                        <h3 class="testimonial-title">Lisa</h3>
                        <p></p>
                    </div>
                </div>
              
               
            </div>
        </div>
    </div>
</div>
<div class="block-alt">
    <div class="flex-height js-scroll-section">
        <div class="block-inner__left block--image block--image-fade" style="background-image: url(uploads/kevinmurphywoman.jpg)"></div>
        <div class="block-inner__right page section block--content">
            <div class="content-alt">
                <div class="content-alt__inner">
                    <h2>KEVIN.MURPHY</h2>
                    <p>
                        KEVIN.MURPHY is born on the runway of fashion. Gemaakt door editorial stylist Kevin Murphy. KEVIN.MURPHY is een salon-only brand en is subliem in eenvoud: coloring, shampoo&rsquo;s, conditioners, styling en finishing producten. Altijd op zoek naar de nieuwste trends en hieruit maken ze producten, zo gaan er ook vaak producten uit de lijn blijft compact en up to date. De lijn is gebaseerd op skin-care technologie en is volledig gewichtloos. Alle KEVIN.MURPHY producten zijn geschikt voor gekleurd haar en elke combinatie van producten is mogelijk. Kevin Murphy is uitgegroeid tot een milieuvriendelijk en dierproefvrij haarcosmetica merk. En natuurlijk sulfaat- en parabeenvrij.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-alt" style="background: #92b3ca">
    <div class="flex-height">
        <div class="block-inner__left page section block--content">
            <div class="content-alt">
                <div class="content-alt__inner">
                    <p><span style="color:#ffffff">Vaak je haar wassen zorgt ervoor dat je kleur sneller vervaagt. Was je haar met een sulfaatvrije shampoo. Sulfaten tasten namelijk je kleur aan. Verzorg je haar goed! Hoe gezonder je haar hoe langer en beter je kleur blijft zitten. Gebruik na het wassen altijd een conditioner om je haar af te sluiten en de kleur binnen te houden. Het is verstandig om 1x per week een masker of treatment te gebruiken om je haar net even die extra verzorging te geven.</span></p>
                </div>
            </div>
        </div>
        <div class="block-inner__right block--image" style="background-image: url(uploads/4.jpg)">  
        </div>
    </div>
</div>

<div class=" block-alt" >
    <div class="flex-height">
        <div class="block-inner__left block--image" style="background-image: url(uploads/km-fles.jpg)"> 
        </div>
        <div class="block-inner__right page section block--content">
            <div class="content-alt">
                <div class="content-alt__inner">
                                           <h2>KEVIN.MURPHY SESSION.SALON</h2>
                    <p>KEVIN.MURPHY SESSION.SALONS zijn een elitegroep salons die de standaard zetten in uitmuntende redactionele styling.</p>
                    <p>
KEVIN.MURPHY SESSION.SALONS zijn de eerste die alles horen en beleven wat er in de wereld van KEVIN.MURPHY gebeurt. Ze zijn de eerste als het gaat om het leren van nieuwe stylingtechnieken van Kevin Murphy zelf en zijn de eerste plaats om de nieuwste KEVIN.MURPHY-producten te ervaren.</p>
<p>
De KEVIN.MURPHY SALON.STYLIST is gekozen uit de KEVIN.MURPHY SESSION.SALONS om deel te nemen aan een onderwijsprogramma dat specifiek is ontworpen om kappers ons de ins en outs te leren van de nieuwste redactionele stylingtechnieken voor jou. Deze stylisten en salons geloven net zo veel in KEVIN.MURPHY als het merk, het product en het concept. Voor de ultieme KEVIN.MURPHY.EXPERIENCE hoeft u niet verder te zoeken dan een KEVIN.MURPHY SESSION.SALON. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-alt">
    <div class="flex-height js-scroll-section">
        <div id="prijslijst" class="block-inner__left block--image block--image-fade" style="background-image: url(uploads/priceimage.jpg)"></div>
        <div class="block-inner__right page section block--content">
            <div class="content-alt">
                <div class="content-alt__inner">
                    <h2>Prijslijst</h2>
                    <table class="price-table">
                        <tr>
                            <td>Wassen Knippen Drogen</td>
                            <td>vanaf € 44,50</td>
                        </tr>
                        <tr>
                            <td>Wassen Knippen Fohnen / Watergolven</td>
                            <td>vanaf € 56,50</td>
                        </tr>
                        <tr>
                            <td>Wassen knippen Föhnen lang haar</td>
                            <td>vanaf € 69,50</td>
                        </tr>
                        <tr>
                            <td>Wassen Föhnen / Watergolven</td>
                            <td>vanaf € 35,00</td>
                        </tr>
                         <tr>
                            <td>Wassen Föhnen toeslag langhaar</td>
                            <td>vanaf € 17,50</td>
                        </tr>
                        <tr>
                            <td>Wassen Knippen Stylen Heren</td>
                            <td>vanaf € 35,00</td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td>Kleuren Ammonia vrij</td>
                            <td>vanaf € 46,00</td>
                        </tr>
                        <tr>
                            <td>High lights half lang haar</td>
                            <td>vanaf € 87,00</td>
                        </tr>
                        <tr>
                            <td>High lights lang haar / Balayage</td>
                            <td>vanaf € 99,00</td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                
                        <tr>
                            <td>Permanent excl. Knippen</td>
                            <td>vanaf € 77,00</td>
                        </tr>
                        <tr>
                            <td>Permanent half lang excl. Knippen</td>
                            <td>vanaf € 87,00</td>
                        </tr>
                        <tr>
                            <td>Permanent lang excl. Knippen</td>
                            <td>vanaf € 97,00</td>
                        </tr>
                        <tr>
                            <td>Massage</td>
                            <td>vanaf € 16,00</td>
                        </tr>
                    </table>

                    <p style="font-size: 0.85em; margin-top: 2rem; font-style:italic;">We stemmen de behandeling af op jouw wensen. Indien gewenst kunnen we voorafgaand aan de behandeling de exacte kosten berekenen.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-alt">
    <div class="flex-height js-scroll-section">
        <div class="block-inner__left page section block--content" id="contact">
            <div class="content-alt">
                <div class="content-alt__inner">
                    <h2>Kom gezellig langs</h2>
                    <p>Koninginneweg 85, 2161 ZB Lisse<br>
                    Tel: <a class="u-bare" href="tel:0252347633">0252 347 633</a><br>
                    Mail: <a class="u-bare" href="mailto:yvonne@heycreative.nl">yvonne@heycreative.nl</a></p>
                    <div class="contact-info">
                        <h3>Openingstijden</h3>
                        <table class="contact-table">
                            <tr>
                                <td>Zondag:</td>
                                <td>Gesloten</td>
                            </tr>
                            <tr>
                                <td>Maandag:</td>
                                <td>Gesloten</td>
                            </tr>
                            <tr>
                                <td>Dinsdag:</td>
                                <td>8:30 - 18:00</td>
                            </tr>
                            <tr>
                                <td>Woensdag:</td>
                                <td>8:30 - 18:00</td>
                            </tr>
                            <tr>
                                <td>Donderdag:</td>
                                <td>8:30 - 21:00</td>
                            </tr>
                            <tr>
                                <td>Vrijdag:</td>
                                <td>8:30 - 18:00</td>
                            </tr>
                            <tr>
                                <td>Zaterdag:</td>
                                <td>8:30 - 17:00</td>
                            </tr>
                            
                        </table>
                    </div>
                    <p>Volg ons ook op social media</p>
                    <ul class="social-list">
                        <li class="social-item">
                            <a href="https://www.instagram.com/salon_heycreative/" target="_blank" class="social-link"><img src="uploads/instagram.svg"></a>
                        </li>
                        <li class="social-item">
                            <a href="https://www.facebook.com/HEY-creative-1663525883921388/" target="_blank" class="social-link"><img src="uploads/facebook.svg"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-inner__right block--image block--image-fade block--image-fade-alt" style="background-image: url(uploads/foto-zaak-5.jpg)"></div>
    </div>
</div>

{% endblock %}
